<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SaludVida - {% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/home">SaludVida</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="/home">Home</a>
                        <a class="nav-link" href="/medico">Médicos</a>
                        <a class="nav-link" href="/paciente">Pacientes</a>
                        <a class="nav-link" href="/cita">Citas</a>
                        <a class="nav-link" href="/especialidad">Especialidades</a>
                    </div>        
                </div>

                {% if user.is_authenticated %}
                <p class="m-0 pe-2">{{ user.email }}</p>
                <a class="btn btn-sm btn-outline-danger" href="{% url "logout" %}">Cerrar sesión</a>
                {% else %}
                <p class="m-0 pe-2">Invitado</p>
                {% endif %}
            </div>
          </nav>
    </header>

    <main class="flex-fill">
        <div class="d-flex mt-3 mx-3  justify-content-between">
            <div class="d-flex align-items-center gap-3">
                <h4>{% block cuerpo_titulo %}{% endblock  %}</h4>
                {% block link_crear %}{% endblock %}
            </div>
            
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success m-0">{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="container">
            <div class="row">
                {% block cuerpo %} {% endblock %}
            </div>
        </div>
    </main>



    <footer class="container-fluid py-4 d-flex justify-content-center bg-body-tertiary">
        <p>&copy; Centro Médico SaludVida.</p>
    </footer>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>